@page
@model Tasnadi_Botond_Lab8.Pages.BookCategories.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookCategory[0].Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookCategory[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BookCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.ID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
